body{
	background-color: #40c2cc;
	color:white;
	font-family: calibri, verdana,sans-serif;
	font-size:200%;
}

h2 {
    text-align: center;
	color:white;
	font-family: calibri, verdana,sans-serif;
	font-weight: bold;
    font-size: 500%;
}
  
form.well {
    background-color: #F0EAE8;
	border-radius: 10px;
}

div#sexe1 {
    color: black;
}

div#sexe2 {
    color: black;
}

.control-label{
	color:black;
}

div#age {
    color: black;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    color: white;
}

div#logo img {
    width: 200px;
    margin-top: 100px;
	float: right;
}

text2{
vertical-align:100%;

}

div#imagecouple img{
vertical-align:100%;
    /* width: 75%; 
    height: 400px;*/
}